.header {
  height: 150px;
  background-color: #2696ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin: 0;
}

.main {
  border: 1px solid #2696ff;
  width: 50%;
  margin: 150px auto;
}
